<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.dao.UserCenterDao">
	<select id="myOrder"  resultType="map" parameterType="Integer">
		SELECT id, amount, busertable_id, status, orderdate  FROM ORDERBASETABLE WHERE busertable_id = #{bid}
	</select>

	<select id="myFocus" resultType="map"  parameterType="Integer">
		SELECT gt.id, gt.gname, gt.goprice, gt.grprice, gt.gpicture FROM FOCUSTABLE ft, GOODSTABLE gt
		WHERE ft.goodstable_id=gt.id AND ft.busertable_id = #{bid}
	</select>

	<select id="orderDetail" resultType="map"  parameterType="Integer">
		SELECT gt.id, gt.gname, gt.goprice, gt.grprice, gt.gpicture, odt.shoppingnum FROM GOODSTABLE gt, ORDERDETAIL odt
		WHERE odt.orderbasetable_id=#{ordersn} AND gt.id=odt.goodstable_id
	</select>
</mapper>