<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Auser" type="com.njxzc.po.Auser"/>
		<typeAlias alias="Goods" type="com.njxzc.po.Goods"/>
		<typeAlias alias="GoodsType" type="com.njxzc.po.GoodsType"/>
		<typeAlias alias="Notice" type="com.njxzc.po.Notice"/>
		<typeAlias alias="Buser" type="com.njxzc.po.Buser"/>
		<typeAlias alias="Order" type="com.njxzc.po.Order"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/njxzc/mapper/admin/AdminGoodsMapper.xml"/>
		<mapper resource="com/njxzc/mapper/admin/AdminMapper.xml"/>
		<mapper resource="com/njxzc/mapper/admin/AdminTypeMapper.xml"/>
		<mapper resource="com/njxzc/mapper/admin/AdminNoticeMapper.xml"/>
		<mapper resource="com/njxzc/mapper/admin/AdminUserMapper.xml"/>
		<mapper resource="com/njxzc/mapper/admin/AdminOrderMapper.xml"/>
		<mapper resource="com/njxzc/mapper/normal/IndexMapper.xml"/>
		<mapper resource="com/njxzc/mapper/normal/UserMapper.xml"/>
		<mapper resource="com/njxzc/mapper/normal/CartMapper.xml"/>
		<mapper resource="com/njxzc/mapper/normal/OrderMapper.xml"/>
		<mapper resource="com/njxzc/mapper/normal/UserCenterMapper.xml"/>
	</mappers>
</configuration>