<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.dao.AdminGoodsDao">

	<!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
	<!-- id：设置ResultMap的id -->
	<resultMap type="com.njxzc.po.Goods" id="Goods">
		<!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
		<!-- property：主键在pojo中的属性名 -->
		<!-- column：主键在数据库中的列名 -->
		<id property="id" column="id" />

		<!-- 定义普通属性 -->
		<result property="gname" column="gname" />
		<result property="goprice" column="goprice" />
		<result property="grprice" column="grprice" />
		<result property="gstore" column="gstore" />
		<result property="gpicture" column="gpicture" />
		<result property="goodstype_id" column="goodstype_id" />
	</resultMap>

	<!-- AddGoods -->
	<insert id="addGoods" parameterType="com.njxzc.po.Goods">
		INSERT INTO goodstable(id, gname, goprice, grprice, gstore, gpicture, goodstype_id)
		VALUES (NULL , #{gname}, #{goprice}, #{grprice}, #{gstore}, #{gpicture}, #{goodstype_id})
	</insert>

	<!-- SelectGoods -->
	<select id="selectGoods" resultType="Goods">
		SELECT * FROM goodstable
	</select>

	<!-- 分页查询 -->
	<select id="selectAllGoodsByPage" resultType="Goods" parameterType="map">
		SELECT * FROM goodstable ORDER BY id LIMIT #{startIndex}, #{perPageSize}
	</select>

	<!-- 根据id查询 -->
	<select id="selectGoodsById" resultType="Goods" parameterType="Integer">
		SELECT gt.*, gy.typename FROM goodstable gt, goodstype gy WHERE gt.id = #{id} AND gt.goodstype_id = gy.id
	</select>

	<!--删除多个商品-->
	<delete id="deleteGoods" parameterType="List">
		DELETE FROM goodstable WHERE id IN 
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!--删除单个商品-->
	<delete id="deleteAGoods" parameterType="Integer">
		DELETE FROM goodstable WHERE id=#{id}
	</delete>

	<!--查询关联商品-->
	<select id="selectCartGoods" parameterType="Integer" resultType="map">
		SELECT * FROM carttable WHERE goodstable_id=#{id}
	</select>
	<select id="selectFocusGoods" parameterType="Integer" resultType="map">
		SELECT * FROM focustable WHERE goodstable_id=#{id}
	</select>
	<select id="selectOrderdetailGoods" parameterType="Integer" resultType="map">
		SELECT * FROM orderdetail WHERE goodstable_id=#{id}
	</select>

	<!--修改一个商品-->
	<update id="updateGoodsById" parameterType="Goods">
		UPDATE goodstable
		<set>
			<if test="gname != null">
				gname = #{gname},
			</if>
			<if test="goprice != null">
				goprice = #{goprice},
			</if>
			<if test="grprice != null">
				grprice = #{grprice},
			</if>
			<if test="gstore != null">
				gstore = #{gstore},
			</if>
			<if test="gpicture != null">
				gpicture = #{gpicture},
			</if>
			<if test="goodstype_id != null">
				goodstype_id = #{goodstype_id},
			</if>
		</set>
		WHERE id = #{id}
	</update>

</mapper>