<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.dao.admin.AdminOrderDao">

	<select id="orderInfo" resultType="map">
		select od.id,od.busertable_id,od.amount,od.orderdate,bd.bemail
		from orderbasetable od, busertable bd where bd=od
	</select>
	<delete id="deleteOrderDetail" parameterType="Integer">
		delete from orderdetail where orderbasetable_id=#{id}
	</delete>
	<delete id="deleteOrderBase" parameterType="Integer">
		delete from orderbasetable where id=#{id}
	</delete>
</mapper>