<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.dao.AdminTypeDao">

	<!-- toAddType-->
	<select id="selectGoodsType" resultMap="com.njxzc.po.Goodstype">
		select * FROM goodstype;
	</select>

	<!--addType-->
	<insert id="addType" parameterType="String">
		insert into goodstype (id, typename) values (NULL, #{type})
	</insert>
	
	<!--deleteType-->
	<delete id="deleteType" parameterType="Integer">
		delete FROM goodstype where id=#{id}
	</delete>
	<select id="selectGoodsByType" resultType="com.njxzc.po.Goods" parameterType="Integer">
		select * FROM goodstable where goodstype_id=#{id}
	</select>
</mapper>