<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.dao.UserDao">

	<!--添加一个用户 ，#{uname}为com.mybatis.po.MyUser的属性值-->
	<insert id="addUser" parameterType="com.njxzc.po.MyUser">
		insert into myuser (uname,password)
		values(#{uname},#{password})
	</insert>
	<!-- 修改一个用户 -->
	<update id="updateUser" parameterType="com.njxzc.po.MyUser">
		update myuser set uname =
		#{uname},usex = #{usex} where uid = #{uid}
	</update>
	<!-- 删除一个用户 -->
	<delete id="deleteUser" parameterType="Integer">
		delete from myuser where uid = #{uid}
	</delete>
	<!-- 根据uid查询一个用户信息 -->
	<select id="selectUserById" parameterType="Integer" resultType="com.njxzc.po.MyUser">
		select * from myuser where uid = #{uid}
	</select>
	<select id="selectUserByName" parameterType="String" resultType="com.njxzc.po.MyUser">
		select * from myuser where uname = #{uname}
	</select>
	<!-- 查询所有用户信息 -->
	<select id="selectAllUser" resultType="com.njxzc.po.MyUser">
		select * from myuser
	</select>
	<select id="selectUserByUname" resultType="com.njxzc.po.MyUser"
			parameterType="com.njxzc.po.MyUser">
		SELECT * FROM myuser where 1=1
		<if test="uname!=null and uname!=''">
			AND uname like concat('%', #{uname}, '%')
		</if>
	</select>
</mapper>